.app {

}
.app-nav {
  position: fixed;
  z-index: 200;
  bottom: 1rem;
  left: 1rem;
  background-color: white;
}
.app-nav-item {
  display: block;
  border: 1px solid #666;
  padding: .25rem .5rem;
  font-size: .8rem;
}
.app-nav-item ~ .app-nav-item {
  margin-top: -1px;
}